.cropper {
  transform-origin: 0 0;
  transform: scale(1);
}

.cropper > .viewport {
  position: relative;
  /* overflow:hidden; */
  width: 100%;
  height: 100%;
  cursor:move;
}

.cropper > .viewport > .content {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.cropper .zoomer {
  display: block;
  width: 100%;
  height: 20px;
  background-color: orange;
}

.cropper .zoomer .track {
  display: block;
  position: relative;
  width: 100%;
  height: 20px;
  background-color: green;
}

.cropper .zoomer .nub {
  position: absolute;
  left: 50%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: purple;
}




/* JUNK */
.cropper .get {
  display: block;
  position: absolute;
  top: 0px;
  height: 20px;
  width:20px;
  background-color: purple;
  z-index: 100;
}
